body {
  color: white;
  padding: 0;
  margin: 0;
  background-color: #DDDDDD;
}

#wrapper {
  position: absolute;
  width: 100%;
}

#header {/*sets dimensions and position of the header and sets the color of the text*/
  position: absolute;
  top: 20px;
  left: 120px;
  color: #888888;
}

#sidebar{/*sets dimensions and position of the sidebar and sets the alignment of the text*/
  position: absolute;
  top: 240px;
  left: 60px;
  text-align: left;
}

#page {/*sets dimensions and position of the page-box and sets the color of the text*/
  position: absolute;
  max-width: 80%;
  padding-right:5%;
  padding-bottom: 5%;
  top: 180px;
  left: 20%;
  color: #444444;
}

a {/*sets color and size, removes the underline and displays the text as bold in the sidebar*/
  color: #6666aa;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

h1 {/*sets color and letter spacing for headline 1*/
  color: #6666aa;
  letter-spacing: 0.1px
}

h2 {/*sets color, size and letter spacing for headline 2*/
  color: #444444;
  text-align: center;
  font-size: 18px
}
h3 {/*sets color, size and letter spacing for headline 1*/
  color: #6666aa;
  text-align: left;
  font-size: 18px
}
